{%extends 'base.html' %}

{% block content%}
<div class="container">        
    <div class="row">
        {% for image in images%}
        {{image}}
        <br>
        {{image.name}}
        <br>
        {{image.description}}
        <br>
        {{image.posted_at}}
        <br>
        {{ image.location}}
        <br>
        {{ image.category}}
        <br>

        <div class="col-md-4 ">
        <a href=""data-bs-toggle="modal" data-bs-target="#exampleModal">
            <img class="img-fluid" src="{{image.image.url}}" alt="">
        </a>
        </div>
        Photo URL:<input type="text" value="{{image.image.url}}" class="btn btn-outline-primary form-control ">
        {% endfor %}
    </div>
</div>

{% endblock %}