{% extends 'base.html' %}
{% block content %}
<div class="container mb-3">
      <div class="row">
        {% for image in images%}
          <div class="col-md-4 ">
            <a href=""data-bs-toggle="modal" data-bs-target="#exampleModal{{image.id}}">
              <img class="img-fluid" src="{{image.image.url}}" alt="">
            </a>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal{{image.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">{{image.name}}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>{{image.description}}</p>
                  <div class="row">
                    <img class="img-fluid" src="{{image.image.url}}" alt="">
                    
                  </div>
                </div>
                <div class="modal-footer"> 
                  <div class="row">
                    <h5>Photo URL:</h5>  
                    <div class="input-group">
                      <div class="input-group-text"><i class="fa fa-clone" aria-hidden="true"></i></div>
                      <input type="text" id="imagelink" value="{{image.image.url}}" class="btn btn-outline-primary form-control photoUrl" readonly>
                    </div>         
                    <h5>Location: <small>{{image.location}}</small></h5>
                    <br>
                    <h5>Category: <small>{{image.category}}</small></h5>
                    <h6>Posted on: <small>{{image.posted_at}}</small></h6>
                  </div>
                  <hr>
                  <div class="row">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- endmodal -->
        {% endfor %}
      </div>
        
   
</div>
{% endblock %}