{%extends 'base.html' %}

{% block content%}
<div class="container">
    {% if searched %}
        <h1 class="text-center mt-4">You serached for {{searched}}</h1>
        
        <div class="row">
            {% for image in images%}
            {{image}}
            <br>
            {{image.name}}
            <br>
            {{image.description}}
            <br>
            {{image.posted_at}}
            <br>
            {{ image.location}}
            <br>
            {{ image.category}}
            <div class="col-md-4 ">
              <a href=""data-bs-toggle="modal" data-bs-target="#exampleModal">
                <img class="img-fluid" src="{{image.name}}" alt="">
              </a>
            </div>
            {% endfor %}
        </div>
        
        
    {%else%}
        Go back and enter a venue
    {% endif %}
</div>

{% endblock %}